:root {
    --color-950: #052e16;
    --color-900: #14532d;
    --color-800: #166534;
    --color-700: #15803d;
    --color-600: #16a34a;
    --color-500: #22c55e;
    --color-400: #4ade80;
    --color-300: #86efac;
    --color-200: #bbf7d0;
    --color-100: #dcfce7;
    --color-50: #f0fdf4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    color: var(--color-100);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;

    background-color: var(--color-900);
}

#content {
    flex: 1;

    display: flex;
    flex-direction: column;
}

#content > div {
    width: 100%;
}

.navigation-container {
    flex: 48px 0 0;

    gap: 12px;
}

.navigation-container button {
    height: 48px;
    width: 10vw;

    border: 4px solid transparent;

    color: var(--color-50);
    font-size: 2vw;
    line-height: 2vw;

    background-color: var(--color-800);

    transition: linear 0.1s;
}

.navigation-container button:focus {
    outline: none;
    border-bottom-color: var(--color-400);
}

.navigation-container button:hover {
    color: var(--color-400);
    border-bottom-color: var(--color-400);
}

.navigation-container button:active {
    border-left-color: var(--color-400);
    border-right-color: var(--color-400);
    background-color: var(--color-600);
}

.navigation-container button:disabled {
    border: 4px solid transparent;
    background-color: var(--color-900);
    color: var(--color-50);
}

.body-container {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 48px 0;
}

.body-container > div {
    width: 60%;
    height: 100%;

    background-color: var(--color-700);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    flex: 48px 0 0;

    color: var(--color-200);
    font-size: 28px;
}

.navigation-container,
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-700);
}